<!-- Header-->
<div style="text-align:center">
  <img width="50" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <h1 id="register">Register</h1>
</div>
<!-- Main Form -->
<div style="text-align:center">
  <form action="" [formGroup]="reactive-form">
    <div class="col">
      <!-- Personal Info -->
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="first-name">Insert Icon</label>
            <input 
              type="text"
              class="form-control"
              id="first-name"
              placeholder="First Name">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="last-name">Insert Icon</label>
            <input 
              type="text"
              class="form-control"
              id="last-name"
              placeholder="Last Name">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="email">Insert Icon</label>
            <input 
              type="email"
              class="form-control"
              id="email"
              placeholder="Email">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="password">Insert Icon</label>
            <input 
              type="password"
              class="form-control"
              id="password"
              placeholder="Password">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="check-password">Insert Icon</label>
            <input 
              type="password"
              class="form-control"
              id="check-password"
              placeholder="Confirm Password">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="country">Insert Icon</label>
            <input 
              type="text"
              class="form-control"
              id="country"
              placeholder="Country of location">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="company-name">Insert Icon</label>
            <input 
              type="text"
              class="form-control"
              id="company-name"
              placeholder="Company name">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="company-web">Insert Icon</label>
            <input 
              type="text"
              class="form-control"
              id="company-web"
              placeholder="Company Website">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="companyWeb">Insert Icon</label>
            <select 
              name="innovator-type"
              id="innovator-type"
              class="form-control"
            >
              <option disabled selected value>Innovator Type</option>
              <option value="nice">Nice</option>
              <option value="cool">Cool</option>
              <option value="great">Great</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <input 
            type="checkbox" 
            id="age-check" 
            name="age-check" 
            value="checked" 
            >
          <label for="age-check">
            Age acknowledgment for innovation submission. 
            Check to confirm that you are at least 18 years of age.
          </label><br>
      </div>

      <div>
          <span>Please review our 
            <a href="http://www.privacy-policy.com">Privacy Policy</a> 
            to understand how we will use your information. 
          </span>
      </div>

      <div class="text-center">
          <button 
            type="submit"
            >
            LET'S GO
          </button>
      </div><br>

      <!-- Footer -->
      </div>
    </div>
  </form>
</div>
